@model List<Product>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>

    </div>
</div>

<div class="container mb-5">
    @Html.ActionLink("Admin Panel", "Index", "Default", new { area = "Admin" }, new { @class = "btn btn-primary" })
    <div class="col-md-9 mt-5">
        @Html.Partial("_products", Model)
    </div>
</div>


